@using BD_Auction_inc.Models
@model BD_Auction_inc.Models.AllBids
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!--Slidder ADD HERE-->
    <div class="row">
        <div class="col-md-8">
            <div class="x-main-div">


                <div class="row">
                    <div class="col-md-6">
                        <div id="img-secret">
                            <img src="~/img/main/secret_dev.png" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="secret-text">
                            <div>
                                <h4>Bangladesh Auction Inc</h4>
                                <p>Welcome to Bangladesh Auction Inc.</p>
                                <p>This site is under construction by Secret Developers LTD.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>

        <div class="col-md-4">
            <div class="x-side-div">
                <div class="x-last-bid xborder">
                    <h5><strong>Latest bids</strong></h5>
                    <div id="x-scroll-div">

                        <div class="xTable">
                            <table class="center-block">
                                <tr>
                                    <th>TIME</th>
                                    <th>BID</th>
                                    <th>NAME</th>
                                </tr>

                                @foreach (BidModel BM in Model.BIDSS) {
                                    <tr>
                                        <td>@BM.BidTime</td>
                                        <td>@BM.BidAmount</td>
                                        <td>@BM.cID</td>
                                    </tr>
                                }
                                

                            </table>
                        </div>
                    </div>

                    <div class="x-feature-item">
                        <h5><strong>Feature items</strong></h5>
                        <ul>

                            <li>Feature item 001</li>
                            <li>Feature item 002</li>
                            <li>Feature item 003</li>
                            <li>Feature item 001</li>
                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>


    <div class="container">

        <div class="top-cat text-center">
            <div class="row">
                <div class="col-sm-4">
                    <div class="xborder">
                        <h3>Topic 001</h3>
                        <img class="ximg-responsive" src="~/img/main/test_pic_dark_purple.jpg">
                        <a type="button" class="btn btn-primary x-btn-purple" href="#">View</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="xborder">
                        <h3>Topic 002</h3>
                        <img class="ximg-responsive" src="~/img/main/test_pic_dark_purple.jpg">
                        <a type="button" class="btn btn-primary x-btn-purple" href="#">View</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="xborder">
                        <h3>Topic 003</h3>
                        <img class="ximg-responsive" src="~/img/main/test_pic_dark_purple.jpg">
                        <a type="button" class="btn btn-primary x-btn-purple" href="#">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>