
@{
    ViewBag.Title = "NewSignup";
}

@using (Html.BeginForm())
{



}

    <div class="container x-container">

        <div class="x-register-welcome">
            <h2>We are very happy to have you in our website!</h2>
        </div>

        <div class="x-form-div">
            <div class="x-form-message">
                <h3>Please fillup the form below correctly!</h3>
            </div>

            <div class="x-form">
                <div>
                    <div class="x-form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Your Name:</p>
                            </div>
                            <div class="col-md-6">
                                <input class="x-input-box" type="text" name="name" placeholder="Name">
                            </div>
                        </div>
                    </div>
                    <div class="x-form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="x-pera-center">Your Email address:</p>
                            </div>
                            <div class="col-md-6">
                                <input class="x-input-box" type="email" name="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="x-form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Your Mobile Number:</p>
                            </div>
                            <div class="col-md-6">
                                <input class="x-input-box" type="text" name="mobile" placeholder="Mobile No.">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 x-form-item">
                        <p>Your Address:</p>
                    </div>
                    <div class="x-form-item">
                        <div class="row">
                            <div class="col-md-3">
                                <p>House No.:</p>
                            </div>
                            <div class="col-md-3">
                                <input class="x-input-box" type="text" name="house" placeholder="House No.">
                            </div>
                            <div class="col-md-3">
                                <p>Street Address:</p>
                            </div>
                            <div class="col-md-3">
                                <input class="x-input-box" type="text" name="street" placeholder="Street">
                            </div>
                            <div class="col-md-3">
                                <p>Zip Code:</p>
                            </div>
                            <div class="col-md-3">
                                <input class="x-input-box" type="number" name="zip" placeholder="Zip Code.">
                            </div>
                            <div class="col-md-3">
                                <p>City:</p>
                            </div>
                            <div class="col-md-3">
                                <input class="x-input-box" type="text" name="city" placeholder="City">
                            </div>
                        </div>
                    </div>
                    <div class="x-form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Your National ID card number:</p>
                            </div>
                            <div class="col-md-6">
                                <input class="x-input-box" type="text" name="nid" placeholder="NID">
                            </div>
                        </div>
                    </div>
                    <div class="x-form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Enter your password:</p>
                            </div>
                            <div class="col-md-6">
                                <input class="x-input-box" type="password" name="pass1" placeholder="Enter password">
                            </div>
                        </div>
                    </div>
                    <div class="x-form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Re-enter your password:</p>
                            </div>
                            <div class="col-md-6">
                                <input class="x-input-box" type="password" name="pass2" placeholder="re-enter password">
                            </div>
                        </div>
                    </div>

                    <button type="submit" name="register" class="btn btn-md btn-success">REGISTER</button>
                </div>
            </div>

        </div>
    </div>

