@using BD_Auction_inc.Models;
@Model BD_Auction_inc.Models.AuctionViewModel;


<div class="xRunningAuction">
    <div class="auctionDetails">
        <div class="row">
            <div class="col-md-4">
                <img class="ximg-responsive" src="#">
            </div>
            <div class="col-md-8">
                <div class="xActionTEXT">
                    <h5><strong>Action Name</strong></h5>
                    <p>'Auction details</p>
                </div>
                <div class="xAuctionRemaining">
                    <p id="timeleft'.$i.'">TIEM LEFT</p>
                </div>

                <a type="button" class="btn btn-primary x-btn-purple" href="">Go to Auction</a>
            </div>
        </div>
    </div>
</div>
